* {
    font-family: 'Roboto Slab', serif;
    background-color: black;
}
h1 {
    color: aquamarine;
    text-decoration: aqua;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px;
}
p {
    padding: 8px 6px;
    color: aliceblue;
    font-family: cursive;
}